@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
body {
	font-family: 'Droid Serif';
}
h1, h2, h3 {
	font-family: 'Yanone Kaffeesatz';
	font-weight: normal;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.3em;
}
h1 + h1 {
	margin-top: -0.6em;
}
hr {
	border: 0;
	border-bottom: 1px dashed #888;
}
pre {
	margin: 0;
}
a {
	color: #148F77;
}
a:hover {
	text-decoration: underline;
}
.internal a:before {
  content: "▸ ";
}
table td {
	vertical-align: top;
}
strong {
	color: #900C3F;
}
.remark-slide-scaler {
  position: relative;
}
.remark-slide-content {
	background-size: contain;
}
.remark-slide-content.small-title h1 {
	font-size: 45px;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-inline-code {
	color: #8E44AD;
}
.remark-code-line-highlighted {
	font-weight: bold;
	background: 0;
}
.author {
	display: block;
	opacity: 0.6;
	margin: 3em 0 0.5em;
}
.small {
	font-size: .75em;
}
.cc img {
	width: 24px;
	opacity: 0.5;
}
.fit {
	display: block;
	text-align: center;
}
.fit img {
	max-width: 50%;
}
.fit.alt img {
  margin-top: 1em;
	max-width: 70%;
}
.tutorial {
  color: #3498DB;
	font-weight: bold;
}
.attribution {
	display: block;
	text-align: right;
	font-size: .75em;
	margin-right: -4em;
}
